includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    level: 0
    paths:
        - src
    excludePaths:
        - tests/*
        - **/tests/*
    ignoreErrors:
        - '#^Variable method call on Illuminate\\Database\\Schema\\Blueprint\.#'
        - '#^Unsafe usage of new static\(\)\.#'
        # - '#^Undefined variable: $this#'

